

/* herosection */
.hero{
    padding: 7%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.text_section{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:start;
    margin-top: auto;
    margin-bottom: auto;
    
}
.image_section{
    margin-left:auto;
    margin-right: auto;
    
}
.pic{
    width:100% ;
    height: 100%;
}
.image{
    width: 100%;
    height: 100%;
object-fit: contain;
}
.companytag{
    display: flex;
    justify-content: center;
    gap:50px;
    
}
@media screen and (max-width:765px) {
    .hero{
        display: grid;
        grid-template-columns: 1fr;
    }
    .text_section{
        text-align: center;
    }
    
}
/* 8 card portion */
.cardportion{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    padding: 7%;
    
    
}
@media screen and (max-width:765px) {
    .cardportion{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
/*  service portion */
.service_portion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 7%;
    
}
.link_portion{
    display: flex;
    column-gap: 20px;
    
}
.budgetlink{
    font-size: 15px;
    font-weight: 500;

}
.text_sectionservice{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:start;
    margin-top: auto;
    margin-bottom: auto;
    
}


.image_section2{
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}
@media screen and (max-width:765px) {
    .service_portion{
        display: grid;
        grid-template-columns: 1fr;
    }
   .text_sectionservice{
       text-align: start;
   }
    
}
/* largecard_portion */
.companytagcard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    
}
@media screen and (max-width:765px) {
    .companytagcard{
        display: grid;
        grid-template-columns:repeat(3,1fr);
    }
    
}
/* textsandcompanytags */
.textandcompanytag{
    padding: 7%;
}
.headtext{
    font-size: 1.5rem;
    color:#6e0bde ;
    font-weight: 700;
}
.companytagcard{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:765px){
    .headtext{
        font-size: 1rem;
    }
    
}


/*  solution card*/
.card3{
    padding: 7%;
}

.solutioncard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-bottom: 65px;
}
.headingtext{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

@media screen and (max-width:765px) {
    .solutioncard{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: start;
        margin-bottom: 170px;
    }
    
}


/* footer */
.footer{
    background-color:#252e3c;
    padding: 7%; 
    
}
.largecard_portion2{
    margin-top: -225px;
    margin-bottom: 25px;
}
.iteams{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    text-align: start;
}
.iteams6{
    display: flex;
    justify-content: space-around;
    color: white;
}

.ul{
    list-style: none ;
    font-size: 20px;
    gap: 10px;
    color: grey;
    font-weight: 600;
}
.l{
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}
.l1{
    margin-bottom: 2px;
}
.icon{
display: flex;
justify-content: start;
gap: 30px;
color: white;
margin-top: 14px;
}
@media screen and (max-width:765px){
    .iteams{
        display: grid;
        grid-template-columns:1fr;
        justify-content: start;
    }
    .iteams6{
        display: block;
    }
    
}


/* components css */
/* navbar */
.navbar{

    display: flex;
    justify-content: space-between;

}
.dropdown{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: start;
}
@media screen and (max-width:765px) {
    .dropdown{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
.d_image{
    width: 70%;
    height: 70%;
}
.d_pic{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
ul li{
    
    text-decoration: none;
    list-style: none;
}
.toggleBtn{
    display: none;
}
 @media screen and (max-width:765px) {
    .toggleBtn{
        display: block;
    }
    
} 
.desktopView{
    display: flex;
    gap: 15px;
}
@media screen and (max-width:765px) {
    .desktopView{
        display: none;
    }
    
}
 .desktopHome{
    display:none;
} 
@media screen and (max-width:765px) {
    .desktopHome{
        display: block;
    }
    
}
.desktopBtn{
    font-size: 18px;
    background-color: blue;
    display: block;
    color: white;
    width: 10%;
    margin-top: 8px;
    display: block;
}
@media screen and (max-width:765px) {
    .desktopBtn{
        display:none;
    }
    
}

.d-none{
    display: none !important;
    
}
.homeHover:hover + .hoverContent{
    display: block !important;
}
.hoverContent{
    display: none;
}
.hoverContent:hover{
    display: block;
}



/* titlecomp */
.heading{
    font-size: 4.5rem;
    line-height: 1.00;
    font-weight: 500;
}
.paragraph{
    
        font-size: 25px;
        color: #747990;
        margin-top: 20px;
}
.head{
    color:#6302d0;
    font-size: 2rem;
    font-weight: 700;
}
@media screen and (max-width:765px){
    .heading{
        font-size: 2rem;
    }
    .paragraph{
        font-size: 20px;
    }
}
/* card css */

.card {
    padding: 30px;
    background-color: white;
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  .card_description{
    color: grey;
    font-size: 18px;
}
.card_heading{
    color: black;
    font-size: 20px;
}
/*  */
  .cardsolution {
    
    background-color: white;
    max-width: 300px;
    text-align: start;
  }
  .cardicon{
      width: 25%;
      height: 25%;

  }
  .producticon{
      height: 100%;
      width: 100%;
      object-fit: contain;

  }
  /*  */
  .bigcard {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
    background-color:#6e0bde;
    max-width: 80%;
    margin: auto;
    text-align: start;
  }
  .bigcard2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    padding: 50px;
    background-color:#6e0bde;
    max-width: 85%;
    margin: auto;
    text-align: start;
  }
  .textcard{
      margin-top: auto;
      margin-bottom: auto;
  }
  .link{
      color: white;
    display: flex;
    font-size: 22px;
    margin-top: 10px;
    column-gap: 35px;

}
.headingcard{
    line-height: 1.00;
    margin-bottom: 25px;
    width: 85%;
    color: white;
    font-size: 3.5rem;;
    font-weight: 500;
}
.headingcard2{
    line-height: 1.00;
    margin-bottom: 25px;
    color: white;
    font-size: 2.5rem;;
    font-weight: 500;
    width: 85%;
}
.paragraphcard{
    
        font-size: 25px;
        color:white;
}
.headcard{
    color:white;
    font-size: 30px;
    font-weight: 300;
}
.imagecard{
    margin:auto;
}
.button_portion{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    
}
@media screen and (max-width:765px){
    .bigcard{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bigcard2{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .headingcard2{
        font-size: 1.5rem;
    }
    .headcard{
        font-size: 20px;
    }
    .button_portion{
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 51%;
    }  
    .link{
        display: none;
    }
}
/* svg */
.bp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    background: blue;
    transition: all .3s;

    
}
.hr{
    border: solid black;
}
.bt{
    font-size: 19px;
    width: 30%;
    background-color: white;

}
